[defaults]
# General configurations
interpreter_python = auto_silent
callback_result_format = yaml
roles_path = ./galaxy_roles:./roles
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer

# Vault definitions for environment segregation
vault_identity_list =
        claranet_lab@.vault/claranet_lab.txt,
        oss@.vault/oss.txt,
        clients_uat@.vault/clients_uat.txt,
        clients_prd@.vault/clients_prd.txt

# Performance adjustments
# Increase parallel execution limits (adjust based on control node resources)
forks = 20

# Fact gathering optimization (stores gathered facts locally to speed up subsequent runs)
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.ansible_fact_cache
fact_caching_timeout = 86400

# Security (Set to True in production to avoid Man-in-the-Middle attacks)
host_key_checking = True

# Avoid creating .retry files on failure (clutters the repository)
retry_files_enabled = False

[inventory]
enable_plugins = yaml, ini

[privilege_escalation]
# Standard privilege escalation rules
become = False
become_method = sudo
become_user = root

[connection]
# Pipelining drastically reduces SSH overhead by running modules inside the SSH session stdin
pipelining = True

[ssh_connection]
# Reuse SSH connections via ControlPersist to execute tasks significantly faster
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
